@using HymneALaGastronomie.CoreBusiness
@model Restaurant

<div class="card bg-light">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <div class="card card-body">
        <span>Location: @Model.Location</span>
        <span>Cuisine: @Model.Cuisine</span>
    </div>
    <div class="card-footer">
        <a asp-page="./Detail"
           asp-route-restaurantId="@Model.Id"
           class="btn btn-lg">
            <span class="input-group-btn">
                <i class="fas fa-search-plus" style="font-size:22px"></i>
            </span>
        </a>
        <a asp-page="./Edit"
           asp-route-restaurantId="@Model.Id"
           class="btn btn-lg">
            <span class="input-group-btn">
                <i class="fas fa-edit" style="font-size:22px"></i>
            </span>
        </a>
        <a asp-page="./Delete"
           asp-route-restaurantId="@Model.Id"
           class="btn btn-lg">
            <span class="input-group-btn">
                <i class="fas fa-trash-alt" style="font-size:22px"></i>
            </span>
        </a>
    </div>
</div>
