@page "{restaurantId:int}"

@model HymneALaGastronomie.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Restaurant.Name</h1>

if(@Model.Message != null)
{
  <div class="alert alert-info">@Model.Message</div>
}

<div>Id : @Model.Restaurant.Id</div>
<div>Name : @Model.Restaurant.Name</div>
<div>Location : @Model.Restaurant.Location</div>
<div>Cuisine : @Model.Restaurant.Cuisine</div>

<a asp-page="./List" class="btn btn-primary">All Restaurants</a>